body {
  font-family: "Poppins", sans-serif;
}
/* header style starts */
nav {
    margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: #3a3a3a;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 120px;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
  align-items: center;
}
nav li {
  list-style: none;
  padding: 10px;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
nav a {
  text-decoration: none;
}

/* main section starts */
/* banner section starts here */
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-title{
    color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
}
.banner-description{
    color: #3A3A3A;
font-size: 16px;
font-weight: 600;
}
.banner-content{
    text-align: left;
    padding-left: 120px;
    margin-top: 146px;
}
.banner-image{
    position: relative;
    left: 300px;
    top: 50px;
}
.main-camera{
    position: relative;
    bottom: 450px;
    left: 15px;
}
.primary-btn{
    border: 0px;
    border-radius: 41px;
background: #E02C6D;
color: #FFF;
font-size: 16px;
font-weight: 700;
padding: 15px 25px;
}





/* media query */
/* for mobiles */
@media screen and (max-width: 576px) {
    nav,
    nav>ul{
        flex-direction: column;
    }
    nav>ul{
        text-align: center;
        margin-left: 100px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        padding: 0px 30px;
        margin-top: 0px;
    }
    .banner-image{
        left: 0px;
        width: 10%;
        height: 500px;
    }
}

/* for tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav,
    nav>ul{
        flex-direction: column;
    }
    nav>ul{
        text-align: center;
        margin-left: 100px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        padding: 0px 30px;
        margin-top: 0px;
    }
    .banner-image{
        left: 0px;
        width: 10%;
        height: 500px;
    }
}
